# Python Çöpleri
__pycache__/
*.py[cod]
*$py.class

# Sanal Ortamlar (GitHub'a yüklenmez, her pc kendi kurar)
.venv/
venv/
env/

# Mac ve Windows Çöpleri
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
Icon?